<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title" data-aos="fade-left">
            <h2>Apartamente</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            {% for appartment in appartments %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src={{ asset("assets/img/portfolio/portfolio-2.jpg") }} class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>{{ appartment.number }}</h4>
                            <p>{{ appartment.description }}</p>
                            <div class="portfolio-links">
                                <a href={{ asset("assets/img/portfolio/portfolio-2.jpg" ) }} data-gall="portfolioGallery"
                                   class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>