<section id="services" class="services section-bg">
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <div class="section-title" data-aos="fade-right">
                    <h2>Facilities</h2>
                    <p>Cool stuff we offer</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    {# <div class="col-md-6 d-flex align-items-stretch"> #}
                    {# <div class="icon-box" data-aos="zoom-in" data-aos-delay="100"> #}
                    {# <div class="icon"><i class="bx bxl-dribbble"></i></div> #}
                    {# <h4><a href="">Lorem Ipsum</a></h4> #}
                    {# <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> #}
                    {# </div> #}
                    {# </div> #}

                    {# <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0"> #}
                    {# <div class="icon-box" data-aos="zoom-in" data-aos-delay="200"> #}
                    {# <div class="icon"><i class="bx bx-file"></i></div> #}
                    {# <h4><a href="">Sed ut perspiciatis</a></h4> #}
                    {# <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p> #}
                    {# </div> #}
                    {# </div> #}

                    {# <div class="col-md-6 d-flex align-items-stretch mt-4"> #}
                    {# <div class="icon-box" data-aos="zoom-in" data-aos-delay="300"> #}
                    {# <div class="icon"><i class="bx bx-tachometer"></i></div> #}
                    {# <h4><a href="">Magni Dolores</a></h4> #}
                    {# <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p> #}
                    {# </div> #}
                    {# </div> #}
                    {% for facility in facilities %}
                    <div class="col-md-6 d-flex align-items-stretch ">
                        <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                            <div class="icon"><i class="bx bx-world"></i></div>
                            <h4><a >{{  facility.name }}</a></h4>
                            <p>{{ facility.Description }}</p>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    </div>
</section>