<section id="services" class="services section-bg">
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <div class="section-title" data-aos="fade-right">
                    <h2> {% trans %}
                        Facilities
                        {% endtrans %}
                    </h2>
                    <p>Cool stuff we offer</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    {% for facility in facilities %}
                    <div class="col-md-6 d-flex align-items-stretch ">
                        <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                            <div class="icon"><i class="bx bx-world"></i></div>
                            <h4><a >{{  facility.name }}</a></h4>
                            <p>{{ facility.Description }}</p>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    </div>
</section>